@import 'tailwindcss';
@import "./colors.css";
@import "./text.css";
@import "./button.css";

@theme{
	--spacing: 1px;

	--radius-xs: 4px;
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 16px;
	--radius-xl: 20px;
	--radius-full: 9999px;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));

body{
	background-color: var(--color-page);
}

@layer base{
	*{
		/* transition: all 250ms; */
        min-width: 0;
	}

	button{
		cursor: pointer;	
	}
}

@utility y-divider{
    width: 100%;
    height: 1px;
    background-color: var(--color-neutral-600);
}
