
.blog-content{
	h1,h2,h3,h4,h5,h6{
		margin-bottom: 0.75rem;
	}
	
	p,pre{
		margin-bottom: 2.25rem;
	}
	
	pre{
		background-color: var(--color-surface-neutral-dim) !important;
		padding: 24px;
		border-radius: var(--radius-md);
	}

    code:not(pre > code) {
        width: fit-content;
        padding: 4px;
        border-radius: var(--radius-sm);
        color: var(--color-text-neutral);
        background-color: var(--color-surface-neutral-dim);
    }
}


