@import "./app.css";

.blog-content {
    @apply space-y-16;

    li {
        &::before {
            content: "•";
            margin-right: 8px;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0.75rem;
        color: var(--color-text-heading);
    }

    pre {
        overflow: auto;
        background-color: var(--color-surface) !important;
        padding: 24px;
        border-radius: var(--radius-sm);
    }

    code:not(pre > code) {
        width: fit-content;
        padding: 2px 8px;
        border-radius: var(--radius-sm);
        background-color: var(--color-surface);
    }

    a {
        display: inline;
    }

    a {
        color: var(--color-accent);
        text-decoration: underline;
    }

    blockquote {
        padding: 16px;
        border-left: 3px solid var(--color-border-accent);
    }
}
