@theme {
    /* Remove all default colors */
    --color-*: initial;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-neutral-25: hsl(0, 0%, 98%);
    --color-neutral-50: hsl(0, 0%, 95%);
    --color-neutral-100: hsl(0, 0%, 90%);
    --color-neutral-200: hsl(0, 0%, 80%);
    --color-neutral-300: hsl(0, 0%, 70%);
    --color-neutral-400: hsl(0, 0%, 60%);
    --color-neutral-500: hsl(0, 0%, 50%);
    --color-neutral-600: hsl(0, 0%, 40%);
    --color-neutral-700: hsl(0, 0%, 30%);
    --color-neutral-800: hsl(0, 0%, 20%);
    --color-neutral-900: hsl(0, 0%, 10%);
    --color-neutral-950: hsl(0, 0%, 5%);

    --color-pine-teal: #00524b;
    --color-brick-orange: #ebbcba;
    --color-ink-black: #0c1012;
    --color-porcelain: #f7f7f2;
    --color-ivory: #fbffeb;

    --color-accent: var(--color-pine-teal);
    --color-page: var(--color-porcelain);

    --color-text-neutral: var(--color-neutral-700);
    --color-text-muted: var(--color-neutral-400);
    --color-text-heading: oklch(from var(--color-accent) 0.2 c h);
    --color-text-body: oklch(from var(--color-accent) 0.1 c h);
    --color-text-on-brand: var(--color-white);

    --color-border-neutral: var(--color-neutral-200);
    --color-border-accent: var(--color-accent);

    --color-surface: oklch(from var(--color-page) 0.95 c h);
}

[data-theme="dark"] {
    --color-page: #1e1a1f;
    --color-accent: var(--color-brick-orange);

    --color-surface: oklch(from var(--color-page) calc(l * 1.125) c h);

    --color-border-strong: var(--color-neutral-100);
    --color-border-neutral: var(--color-neutral-700);
    --color-border-brand: var(--color-accent);

    --color-text-neutral: var(--color-neutral-50);
    --color-text-heading: oklch(from var(--color-accent) l 0.015 h);
    --color-text-body: oklch(from var(--color-accent) 0.875 0.01 h);
    --color-text-muted: oklch(from var(--color-accent) 0.8 0.01 h);

    .astro-code,
    .astro-code span {
        color: var(--shiki-dark) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}
