---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
    <section class="pt-200 pb-32 px-64">
        <div class="space-y-4">
            <p>Wakunguma Kalimukwa</p>
            <h1>Designer and developer</h1>
        </div>
        <div class="mt-200 ml-auto w-fit">
            <h6>Contact</h6>
            <p>wakunguma13@gmail.com</p>
            <p>+1 780 937-8597</p>
        </div>
    </section>
</Layout>
