---
import { ArrowRight } from "@lucide/astro";
import Layout from "../layouts/BaseLayout.astro";
import { getPosts } from "../lib";
import { formatDate } from "../lib/format";
import TechStack from "../components/home/tech-stack.svelte";
const posts = getPosts();
// TODO get the first five
---

<Layout>
    <section class="pt-200 pb-32 px-20 md:px-64">
        <div class="space-y-4">
            <p>Wakunguma Kalimukwa</p>
            <h1>Designer and developer</h1>
        </div>
        <div class="mt-200 md:ml-auto w-fit flex flex-col gap-12">
            <h6>Contact</h6>
            <a href="mailto:wakunguma13@gmail.com" class="btn-underline">wakunguma13@gmail.com</a>
            <a href="tel:+17809378597" class="btn-underline w-fit">+1 780 937-8597</a>
        </div>
    </section>
    <section class="py-120 lg:py-256 flex flex-col items-center justify-center gap-24 px-20 md:px-64">
        <h2>About</h2>
        <p class="max-w-[75ch] text-center">
            I'm Wakunguma, a designer and developer dedicated to crafting thoughtful, user-focused interfaces and efficient tools. My work revolves around simplicity and clarity, with a healthy dose of curiosity driving every project.
        </p>
    </section>
    <section class="flex max-md:flex-col px-20 md:px-64 py-128 gap-32 md:gap-64">
        <header class="landing-page-heading">
            <h2>Writing</h2>
        </header>
        <div class="flex-1 space-y-32">
            <ul class="space-y-16">
                {posts.map(post => (
                    <li>
                        <a href={post.url} data-astro-prefetch>
                            <h4>
                                {post.frontmatter.title}
                            </h4>
                            <p>
                                {formatDate(post.frontmatter.published)}
                            </p>
                        </a>
                    </li>
                    <div class="y-divider"></div>
                )
                )}
            </ul>
            <a href="/blog" class="flex items-center gap-4 btn-underline w-fit">
                View all articles <ArrowRight size='20'/>
            </a>
        </div>
    </section>
    <TechStack client:load/>
</Layout>

<style>
    :global(.landing-page-heading){
        /* @apply border-t-2 border-black dark:border-white py-12 flex-1; */
        border-top: 2px solid black;
        padding: 12px 0px;
        flex: 1;

        [data-theme="dark"] &{
            border-color: white;
        }
    }
</style>
