
<script src="../../scripts/observe.js"></script>
<section class="py-120 lg:py-256 flex flex-col items-center justify-center gap-24 px-20 md:px-64">
    <h2>About</h2>
    <p class="max-w-[75ch] text-center">
        I'm Wakunguma, a designer and developer dedicated to crafting thoughtful, user-focused interfaces and efficient tools. My work revolves around simplicity and clarity, with a healthy dose of curiosity driving every project.
    </p>
</section>

<style>
    
</style>
