
<section class="px-64 py-80 flex gap-64">
    <header class="space-y-12">
        <div class="landing-page-heading">
            <h2>Tech stack</h2>
        </div>
        <p>
            I believe in selecting the right tools for each project, always with an eye towards efficiency and innovation. 
        </p>
    </header>
    <ul class="flex-1">
        hi 
    </ul>
</section>
