@reference './global.css';

article{
	@apply space-y-24;
	width: 100%;
	max-width: 75ch;
	*{
		width: 100%;
	}

	h1,h2,h3,h4,h5,h6{
		/* margin-bottom: 24px; */
	}
	
	p{
		/* margin-bottom: 36px; */
	}

	pre{
		padding: 24px;
		/* FIXME background is hard coded by theme */
		background: var(--color-background-primary-dark) !important;
		border-radius: 12px;
	}
}