

@theme{
	/* Remove all default colors */
	--color-*: initial;

	/* Raw colors */
	--color-white: #FFFFFF;
	--color-black: #000000;

	--color-turquiose-50: #E0F9FA;
	--color-turquiose-100: #C2F1F5;
	--color-turquiose-200: #8BE2E8;
	--color-turquiose-300: #62DCE4;
	--color-turquiose-400: #37D6E1;
	--color-turquiose-500: #1BBFCB;
	--color-turquiose-600: #129CA6;
	--color-turquiose-700: #0A787F;
	--color-turquiose-800: #055157;
	--color-turquiose-900: #012A2D;
	--color-turquiose-950: #001819;
	
	--color-orange-50: #FEF6E6;
	--color-orange-100: #FEEED2;
	--color-orange-200: #FDDBA0;
	--color-orange-300: #FCCA73;
	--color-orange-400: #FBB741;
	--color-orange-500: #FAA613;
	--color-orange-600: #D28604;
	--color-orange-700: #A06603;
	--color-orange-800: #694302;
	--color-orange-900: #372301;
	--color-orange-950: #191001;
	
	--color-neutral-50: #F2F2F2;
	--color-neutral-100: #E6E6E6;
	--color-neutral-200: #CCCCCC;
	--color-neutral-300: #B3B3B3;
	--color-neutral-400: #999999;
	--color-neutral-500: #808080;
	--color-neutral-600: #666666;
	--color-neutral-700: #4D4D4D;
	--color-neutral-800: #333333;
	--color-neutral-900: #1A1A1A;
	--color-neutral-950: #0D0D0D;

	/* Semantic colors */
	--color-surface-neutral-dim: var(--color-neutral-50);
	
	--color-text-neutral: var(--color-neutral-700);
	--color-text-body: var(--color-neutral-900);
	--color-text-heading: var(--color-neutral-950);

	--color-border-neutral: var(--color-neutral-200);

	--color-page: white;
}

[data-theme="dark"]{
	--color-surface-neutral-dim: var(--color-neutral-900);
	--color-text-neutral: var(--color-neutral-50);
	--color-border-neutral: var(--color-neutral-700);
	--color-page: var(--color-neutral-950);
	--color-text-heading: var(--color-white);
	--color-text-body: var(--color-neutral-50);
}




