name: CI
on:
  pull_request: 
    branches: ["main"]
concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm test
  end-to-end-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'pnpm'
      - name: Cache playwright browsers
        uses: actions/cache@v4
        id: playwright-cache
        with:
          key: ${{runner.os}}-playwright-browsers-${{hashFiles('playwright.config.ts','pnpm-lock.yaml')}}
          path: ~/.cache/ms-playwright
      - run: pnpm install

      - if: ${{steps.playwright-cache.outputs.cache-hit != 'true'}}
        run: pnpm exec playwright install --with-deps
      - run: pnpm e2e
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm build
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm lint
  all-systems-pass:
    needs: [lint,build,test,end-to-end-tests]
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      - name: All systems go
        run: exit 0

  